<div class="container">
  <h1>My Rewards</h1>

  <p>...

  </p>
  <div class="wrapper">
    <div  class="widthFull gridcontainer">

      <mat-card *ngFor="let reward of chest; index as i" class="example-card">
        <div class="kaart">
          <mat-card-header color="primary">

            <mat-card-title>{{}}</mat-card-title>
            <div mat-card-avatar class="header-image"></div>

            <div color="accent" class="basepoint" *ngIf="challenge.basepoints=='1'">{{challenge.basepoints}} punt</div>
            <div class="basepoint" *ngIf="challenge.basepoints!='1'">{{challenge.basepoints}} punten</div>
          </mat-card-header>
          <img mat-card-image src="../../assets/images/challenges/challenge.PNG" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Meer informatie
                  </mat-panel-title>
                  <mat-panel-description></mat-panel-description>
                </mat-expansion-panel-header>

                <p class="widthFull margedThin noMargin_left noMargin_right">
                  {{challenge.description}}
                </p>

                <mat-form-field class="widthFull">
                  <textarea matInput placeholder="Extra informatie"></textarea>
                </mat-form-field>
              </mat-expansion-panel>
            </mat-accordion>

          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent">VERZEND UITDAGING</button>

          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </div>
</div>


