<div class="container">
  <h1>Mijn rewards</h1>

  <p> Hier kan je alle rewards zien die je geclaimd hebt in de shop.

  </p>
  <div class="widthFull column centered">
    <ul class="gridcontainer paddedExtraSmall">
      <mat-card *ngFor="let item of chest" class="margedExtraSmall">
        
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{ item.reward.name }}</mat-card-title>
            
          </mat-card-header>
          <img mat-card-image src="../../assets/images/rewards/placeholder.jpg" alt="Picture of {{ item.reward.name }}"> <!--{{ reward._id }}_banner-->
          <mat-card-content>
            
           
                
                    {{item.reward.description}}
                 
          </mat-card-content>

      </mat-card>
    </ul>
  </div>
</div>
  
