<div class="column centered">
    <mat-card *ngIf="reward != null" class="margedExtraSmall">
        <mat-form-field class="widthFull">
            <input type="text" value="{{reward.name}}" #inpName matInput placeholder="Naam" />
        </mat-form-field>
        <mat-form-field class="widthFull">
            <input type="number" value="{{reward.cost}}" #inpCost matInput placeholder="Kost" />
        </mat-form-field>
        <img mat-card-image src="/assets/images/rewards/placeholder.jpg" alt="Placeholder picture for reward"> <!--{{reward._id}}_banner-->
        <mat-card-content>
        <mat-form-field class="widthFull">
            <textarea #inpDescription matInput placeholder="Beschrijving" value={{reward.description}}></textarea>
        </mat-form-field>
        </mat-card-content>
        
        <mat-card-actions>
        <a mat-button (click)="addReward(inpName.value, inpDescription.value, inpCost.value)">Sla wijzigingen op</a>
        </mat-card-actions>
    </mat-card>
</div>