.container {margin:auto;
            padding:20px;
            
        }

.container > h1 {padding-bottom:20px;}

mat-card{
    max-width: 332px;
    display:inline-block;
}

mat-card-title {
    padding-bottom:20px;
}

.example-card {margin:30px;
padding:auto;
display:inline-block;}

.header-image{
    background-image: url("/assets/icons/round_star_rate_black.png");
    background-size: contain;
    background-color: #f2f2f2;
}

ul{
    
    max-width: 1450px;
}

.gridcontainer {
    display:flex !important;
    
}

.kaart {display:inline-block;}