<div *ngIf="user == null" class="paddedNormal noPadding_bottom noPadding_left noPadding_right">
  <a mat-button routerLink="/login">
    Ik kan niet zien wie je bent, logt u even in.
  </a>
</div>

<div class="widthFull column centered">
  <ul class="gridcontainer paddedExtraSmall">
    <mat-card *ngFor="let challenge of challenges" class="margedExtraSmall">
      <div *ngIf="challenges != null && challenges.length > 0">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{ challenge.name }}</mat-card-title>
          <mat-card-subtitle>Challenge</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/images/rewards/placeholder.jpg" alt="Picture of {{ challenge.name }}"> <!--{{ reward._id }}_banner-->
        <mat-card-content>
          <p class="readable margedSmall noMargin_left noMargin_right noMargin_top">
            {{ challenge.description }}
          </p>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Deed u deze challenge?
                </mat-panel-title>
                <mat-panel-description></mat-panel-description>
              </mat-expansion-panel-header>
          
              <p class="widthFull margedThin noMargin_left noMargin_right">
                Geef wat extra informatie over wat u precies deed
              </p>
              <mat-form-field class="widthFull">
                <textarea #inptaDescription matInput placeholder="Extra informatie"></textarea>
              </mat-form-field>

              <a mat-button (click)="sendChallenge(challenge, inptaDescription.value)">Verzend</a>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </div>
    </mat-card>
  </ul>
</div>