<mat-tab-group>
  <mat-tab label="Users">
    <mat-list>
        <mat-list-item *ngFor="let user of getUsers()">
          <li class="row centered paddedNormal noPadding_top noPadding_bottom">
            <img matListAvatar src="/assets/images/avatars/{{ user.id }}.jpg" alt="Avatar of user {{ user.name }}"
              class="paddedSmall">
            
            <div class="column">
                <div class="row">
                  <p class="name">
                    {{ user.name }}
                  </p>

                  <p class="points margedExtraSmall noMargin_top noMargin_bottom noMargin_right ">
                    -- 600 points
                  </p>
                </div>
                
                <p class="username margedThin noMargin_left noMargin_right noMargin_bottom">
                  {{ user.username }}
                </p>
            </div>
          </li>
        </mat-list-item>
      </mat-list>
  </mat-tab>

  <mat-tab label="Rewards">
    <div class="widthFull column centered">
      <ul class="gridcontainer paddedExtraSmall">
        <mat-card *ngFor="let reward of getRewards()" class="example-card margedExtraSmall">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{ reward.name }}</mat-card-title>
            <mat-card-subtitle>Reward</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="/assets/images/rewards/{{ reward.id }}_banner.jpg" alt="Picture of {{ reward.name }}">
          <mat-card-content>
            <p class="readable">
              {{ reward.description }}
            </p>
          </mat-card-content>
          
          <mat-card-actions>
            <a [routerLink]="['/admin/rewards', reward.id]">EDIT</a>
          </mat-card-actions>
        </mat-card>
      </ul>
    </div>
  </mat-tab>
</mat-tab-group>