<div class="widthFull column centered">
  <ul class="gridcontainer paddedExtraSmall">
    <mat-card *ngFor="let reward of getRewards()" class="example-card margedExtraSmall">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{ reward.name }}</mat-card-title>
        <mat-card-subtitle>Reward</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/images/rewards/{{ reward.id }}_banner.jpg" alt="Picture of {{ reward.name }}">
      <mat-card-content>
        <p class="readable">
          {{ reward.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/admin/rewards/{{reward.id}}" mat-button>EDIT</a>
      </mat-card-actions>
    </mat-card>
  </ul>
</div>